<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <% if (locals.pageTitle) { %>
            <title>BookNotes | <%= pageTitle %></title> 
        <% } else { %>
            <title>BookNotes</title>
        <% }; %>
        <link rel="icon" type="image/png" href="/images/bnoteslogo.png">
        <link rel="stylesheet" href="/styles/style.css">
    </head>
    <body>
        <div class="navbar">
            <div class="navbar-logo">
                <a href="/">
                    <img src="/images/bnoteslogo.png" alt="BookNotes Logo">
                </a>
                <a href="/">
                    <p>BookNotes</p>
                </a>
            </div>
            <div class="navbar-options">
                <div>
                    <a href="/create-new-notes">
                        <img src="/images/pencil.svg" alt="create new notes pencil icon">
                    </a>
                    <a href="/create-new-notes">
                        <p>New Notes</p>
                    </a>
                </div>
                <div>
                    <a href="/">
                        <img src="/images/eye.svg" alt="read my notes eye icon">
                    </a>
                    <a href="/">
                        <p>My Notes</p>
                    </a> 
                </div>
            </div>
        </div>
        

