PGUSER=your_postgres_user
PGHOST=localhost         # or the host IP / domain
PGDATABASE=your_database_name # mine is book_notes for this project
PGPASSWORD=your_password
PGPORT=5432              # default Postgres port
