<%- include("partials/base-header.ejs") %>



<img class="about-page-img" src="/images/bnoteslogo.png" alt="BookNotes Logo">

<h1 class="about-page">About Book Notes📜🪶</h1>
<div class="reading-notes">
    <p>I made this project because of an exercise <a href="https://appbrewery.com/" target="_blank">Angela Yu</a> gave in her Webdev course.</p>
    <p>Here were the instructions:</p>
    <h2 class="about-page">Instructions</h2>
    <div class="the-project-instructions">
        <h3>Overview</h3>
        <p>I read a lot of books but after I finish reading them I often don't remember all the most salient parts of the book. So I started taking notes. This capstone project is built on this idea.</p>
        <p>My friend <a href="https://sive.rs/about" target="_blank">Derek Sivers</a> has <a href="https://sive.rs/book" target="_blank">this fantastic website</a> where <a href="https://x.com/sivers" target="_blank">he</a> has all the non-fiction books he sas read, his notes, his ratings and when he read them.</p>
        <p>The books are sortable by rating, recency and title. It's a such cool idea for a project so I'm including it as a capstone here in <a href="https://www.udemy.com/course/the-complete-web-development-bootcamp/" target="_blank">this course</a>.</p>

        <h3>Objectives</h3>
        <ul>
            <li><p>Revise how to integrate public APIs into web projects.</p></li>
            <li><p>Gain more experience using Express/Node.js for server-side programming.</p></li>
            <li><p>Demonstrate ability to Create Read Update and Delete data in a PostgreSQL Database to persist data.</p></li>
        </ul>

        <h3>Example Ideas</h3>
        <ul>
            <li><p>Use the <a href="https://openlibrary.org/dev/docs/api/covers" target="_blank">Open Library Covers API</a> to fetch book covers.</p></li>
            <li><p>Create a database to store books you have read.</p></li>
            <li><p>Have a way to add new data about books, update previous reviews and delete entries.</p></li>
            <li><p>Display this information from your database in a website like <a href="https://sive.rs/book" target="_blank">https://sive.rs/book</a></p></li>
            <li><p>Be able to sort your book entries by rating and recency.</p></li>
        </ul>

        <h3>Requirements</h3>
        <ol>
            <li><h4>Database Persistance</h4> <ul>
                <li><p>Persist data using a PostgreSQL database.</p></li>
                <li><p>Use CRUD methods to manipulate data in the database.</p></li>
                </ul>
            </li>
            <li><h4>Project Planning</h4> <ul>
                <li><p>Think through your project, researching the API documentation, project features, what data you will store, and how it will be used in your web application.</p></li>
                <li><p>Draw a database diagram on <a href="https://draw.io" target="_blank">draw.io</a> and plan out any relationships.</p></li>
                <li><p>Think through the PostgreSQL command you will need to write to create the schema for your database.</p></li>
                </ul>
            </li>
            <li><h4>Project Setup</h4> <ul>
                <li><p>Set up a new <a href="https://nodejs.org/" target="_blank">Node.js</a> project using <a href="https://expressjs.com/" target="_blank">Express.js</a></p></li>
                <li><p>Include <a href="https://www.npmjs.com/package/pg" target="_blank">pg</a> for working with your localhost PostgreSQL database.</p></li>
                <li><p>Include <a href="https://www.npmjs.com/package/ejs" target="_blank">EJS</a> for templating.</p></li>
                <li><p>Create a frontend in HTML CSS JS.</p></li>
                <li><p>Ensure that the project has a structured directory and file organization.</p></li>
                </ul>
            </li>
            <li><h4>API Integration</h4> <ul>
                <li><p>Implement at least a GET endpoint to interact with your chosen API.</p></li>
                <li><p>Use <a href="https://www.npmjs.com/package/axios" target="_blank">Axios</a> to send HTTP requests to the API and handle responses.</p></li>
                </ul>
            </li>
            <li><h4>Data Presentation</h4> <ul>
                <li><p>Design the application to present the book covers from the API and the data in your database in a user-friendly way.</p></li>
                <li><p>Use appropriate HTML, CSS, and a templating engine like EJS.</p></li>
                <li><p>Think about how you would allow the user to sort the data from the database.</p></li>
                </ul>
            </li>
            <li><h4>Error Handling</h4> <ul>
                <li><p>Ensure that error handling is in place for both your application and any API requests. You can console log any errors, but you can also give users any user-relevant errors.</p></li>
                </ul>
            </li>
            <li><h4>Documentation</h4> <ul>
                <li><p>Include comments througout your code to explain your logic.</p></li>
                </ul>
            </li>
            <li><h4>Code Sharring</h4> <ul>
                <li><p>Use what you have learnt about <a href="https://github.com/" target="_blank">GitHub</a> to commit and push <a href="https://github.com/RUSSELODG/Book_Notes" target="_blank">your project to GitHub</a> so that you can share it with other students in the Q&A area, I'd love to see what you've build too! You can tweet at me <a href="https://x.com/yu_angela" target="_blank">@yu_angela</a></p></li>
                <li><p>Include a Readme.md file that explains how to start your server, what commands are needed to run your code. e.g <code class="orange-encased">npm i</code> and then <code class="orange-encased">nodemon index.js</code></p></li>
                </ul>
            </li>
        </ol>

        <h3>Recommended Resources</h3>
        <ul>
            <li><p>Express.js: <a href="https://expressjs.com/en/starter/installing.html" target="_blank">Getting Started Guide</a></p></li>
            <li><p>Node.js: <a href="https://nodejs.org/docs/latest/api/" target="_blank">Documentation</a></p></li>
            <li><p>Axios: <a href="https://axios-http.com/docs/intro" target="_blank">Documentation</a></p></li>
            <li><p>Postgres: <a href="https://www.postgresql.org/docs/current/index.html" target="_blank">Documentation</a></p></li>
            <li><p>pg: <a href="https://node-postgres.com/" target="_blank">Documentation</a></p></li>
            <li><p>Open Library Covers API: <a href="https://openlibrary.org/dev/docs/api/covers" target="_blank">Link</a></p></li>
        </ul>
    </div>
    <p>Check the <a href="https://github.com/RUSSELODG/Book_Notes" target="_blank">Github Repo Description</a>(Readme.md) for more details.</p>

</div>



<%- include("partials/base-footer.ejs") %>