/* comment and uncomment for debugging purposes */
/* * {
    outline: 1px red solid;
} */


/* :root {
    --light-green: rgb(189, 255, 215);
}  */

body {
    text-align: center;
    margin: 0px;
    /* background-color: aqua; */
    position: relative;
    min-height: 100vh;
    padding-bottom: 200px;
    margin-top: 60px;
}



.navbar {
    height: 50px;
    background-color: beige;
    width: 100%;
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.navbar a {
    /* background-color: red; */
    text-decoration: none;
    padding-bottom: 0;
}

.navbar-logo {
    /* background-color: var(--light-green); */
    margin-left: 0px;
    display: flex;
    flex-direction: row;
    margin: 0;
} 

.navbar-logo a {
    height: 50px;
}

.navbar-logo img {
    height: 50px;
}

.navbar-logo p{
    align-self: flex-end;
    font-size: 30px;
    /* background-color: red; */
    /* text-align: center; */
    margin-top: 10px;
    font-weight: bold;
    font-style: italic;
    color: blue;
}

.navbar-options {
    /* background-color: red; */
    width: 300px;
    align-self: flex-end;
    display: flex;
    flex-direction: row;
    margin-right: 10px;
    justify-content: flex-end;
    gap: 20px;
    align-items: flex-end; 
}

.navbar-options div {
    display: flex;
    flex-direction: row;
    /* background-color: green; */
    align-items: center;
    gap: 5px;
}

.navbar-options img {
    height: 24px;
    width: 24px;
}

.navbar-options p {
    align-self: flex-end;
}



footer {
    text-align: center;
    width: 100%;
    /* position: relative; */
    position: absolute;
    bottom: 0px;
    left: 0px;
    padding-top: 30px;
    padding-bottom: 50px;
    background-color: beige;
    margin: 0;
}

.footer-infos {
    text-align: center;
    margin-bottom: 10px;
}

.footer-infos a {
    margin-right: 10px;
}

.footer-separator-line {
    height: 1px;
    background-color: #909090;
    width: 100%;
    margin-bottom: 10px;
}



.home-header {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
    padding-left: 10px;
    padding-right: 10px;
    border-bottom: 2px #909090 solid;
    padding-bottom: 30px;
    margin-bottom: 45px;
}

.home-header span {
    font-weight: bold;
}

.sortBy p {
    margin-top: 0;
    float: left;
    margin-right: 10px;
}

.sortBy form {
    display: inline-block;
}

.sortBy form button {
    border: none;
    background: none;
    padding: 0;
    text-decoration: underline;
    color: blue;
}


.book-preview {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 30px;
    margin-bottom: 50px;
}


.book-preview-actions {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 10px;
    padding-bottom: 3px;
    border-bottom: 1px #000000 solid;

}

.book-preview-actions img {
    height: 20px;
    width: 20px;
    margin-bottom:0;
    display: block;
}

.book-preview-summary {
    width: 100%;
    display:inline-block;
}

.book-preview-summary img {
    float: left;
    background-color: grey;
    height: 185px;
    width: 135px;
    margin-right: 15px;
    margin-bottom: 10px;
}

.slightly-transparent {
    color: rgba(105, 55, 55, 0.7);
}



.submit-notes-container {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.submit-notes-container form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.submit-notes-container * {
    padding: 5px;
}

.submit-notes-container input[name="title"] {
    font-weight: 400;
}



.reading-notes {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
}

.the-notes {
    margin-top: 45px;
}