/* comment and uncomment for debugging purposes */
/* *{
    outline: 1px red solid;
} */

:root {
    --light-green: rgb(189, 255, 215);
}

body {
    text-align: center;
    margin: 0px;
    /* background-color: aqua; */
    position: relative;
    min-height: 100vh;
    padding-bottom: 200px;
    margin-top: 60px;
}

.navbar {
    height: 50px;
    background-color: beige;
    width: 100%;
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.navbar a {
    /* background-color: red; */
    text-decoration: none;
    padding-bottom: 0;
}

.navbar-logo {
    background-color: var(--light-green);
    margin-left: 0px;
    display: flex;
    flex-direction: row;
    margin: 0;
} 

.navbar-logo a {
    height: 50px;
}

.navbar-logo img {
    height: 50px;
}

.navbar-logo p{
    align-self: flex-end;
    font-weight: bold;
    font-style: italic;
    color: blue;
}

.navbar-options {
    /* background-color: red; */
    width: 300px;
    align-self: flex-end;
    display: flex;
    flex-direction: row;
    margin-right: 10px;
    justify-content: flex-end;
    gap: 20px;
    align-items: flex-end; 
}

.navbar-options div {
    display: flex;
    flex-direction: row;
    /* background-color: green; */
    align-items: center;
    gap: 5px;
}

.navbar-options img {
    height: 24px;
    width: 24px;
}

.navbar-options p {
    align-self: flex-end;
}

footer {
    text-align: center;
    width: 100%;
    /* position: relative; */
    position: absolute;
    bottom: 0px;
    left: 0px;
    padding-top: 30px;
    padding-bottom: 50px;
    background-color: beige;
    margin: 0;
}

.footer-infos {
    text-align: center;
    margin-bottom: 10px;
}

.footer-infos a {
    margin-right: 10px;
}

.footer-separator-line {
    height: 1px;
    background-color: #909090;
    width: 100%;
    margin-bottom: 10px;
}